<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OtoparkYonetimSistemi.Properties.Settings.Otopark_Yonetim_SistemiConnectionString"
            connectionString="Data Source=MONSTERABRAA7V9\MOBSTERABRAA7DB;Initial Catalog=Otopark_Yonetim_Sistemi;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>